.application {
  background: #f58c21;
  padding: 50px 0;;
  border-bottom: 1px solid #fff;
}

.content {
  display: flex;
  @media only screen and(max-width: 767px) {
    flex-direction: column;
  }
}

.heading {
  font-size: 23px;
  color: #fff;
  margin-right: 20px;
  width: 50%;

  @media only screen and (max-width: 767px) {
    line-height: 20px;
    font-size: 16px;
    width: auto;
    margin-bottom: 20px;
  }
}

.application-form-container {
  width: 49%;

  @media only screen and (max-width: 767px) {
    width: auto;
  }
}

.application-form {
  display: flex;
  flex-direction: column;
}

.error-text {
  color: #f44336;
}

.input-field:last-child {
  margin-bottom: 10px;
}

.submit-btn {
  margin-top: 12px;
}

mat-expansion-panel-header {
  @media only screen and (max-width: 767px) {
    font-size: 12px;
    padding: 15px;
  }
}
