<div class="application">
  <div class="container">
    <div class="content">
      <div class="heading">
        Для подключения пакета услуг «ЯСНА» обратитесь в любой сервисный центр РУП «Белтелеком» либо оставьте заявку на
        сайте
      </div>

      <div class="application-form-container">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false" [hideToggle]="panelOpenState">

          <mat-expansion-panel-header>
            Заявка на подключение услуг
          </mat-expansion-panel-header>

          <form class="application-form"
                (ngSubmit)="submit()"
                [formGroup]="form">

            <mat-form-field class="input-field">
              <mat-label>Имя</mat-label>
              <input matInput formControlName="name" placeholder="Имя">
              <mat-error *ngIf="form.get('name').hasError('required')">
                Это поле обязательно для заполнения
              </mat-error>
            </mat-form-field>

            <mat-form-field class="input-field">
              <mat-label>Номер телефона</mat-label>
              <span matPrefix
                    [ngClass]="{'error-text': form.get('phone').invalid && form.get('phone').touched}">+375 &nbsp;</span>
              <input type="tel" matInput formControlName="phone" placeholder="29-XXX-XX-XX">
              <mat-error *ngIf="form.get('phone').hasError('required')">
                Это поле обязательно для заполнения
              </mat-error>
            </mat-form-field>

            <mat-form-field class="input-field">
              <mat-label>Город</mat-label>
              <input matInput formControlName="city" placeholder="Город">
              <mat-error *ngIf="form.get('city').hasError('required')">
                Это поле обязательно для заполнения
              </mat-error>
            </mat-form-field>

            <mat-form-field class="input-field">
              <mat-label>Адрес</mat-label>
              <input matInput formControlName="address" placeholder="Адрес">
              <mat-error *ngIf="form.get('address').hasError('required')">
                Это поле обязательно для заполнения
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Тарифный план</mat-label>
              <mat-select formControlName="tariff">
                <mat-option *ngFor="let tariff of tariffs" [value]="tariff.value">
                  {{tariff.value}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('tariff').hasError('required')">
                Это поле обязательно для заполнения
              </mat-error>
            </mat-form-field>

            <button type="submit"
                    mat-raised-button
                    color="primary"
                    class="submit-btn"
                    [disabled]="form.invalid">
              Отправить
            </button>
          </form>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
