/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  width: 1170px;
  margin: 0 auto;
}

.card .mat-expansion-panel-content {
  height: 300px;
  overflow-y: scroll;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
