<div class="cards" #cardRef>
  <div class="container">
    <div class="card-container">
        <yasna-tariff-card *ngFor="let card of cards | slice: 0: currentArrayLength" [card]="card">
        </yasna-tariff-card>
    </div>
    <div class="button-container">
      <button mat-button color="primary"
              (click)="incrementLength()"
              *ngIf="currentArrayLength !== cards.length && currentArrayLength <= cards.length">
        Показать еще {{getLeftItems()}}
      </button>
      <button mat-button color="primary"
              (click)="resetArrayLength()"
              *ngIf="currentArrayLength >= cards.length || currentArrayLength === cards.length">
        Скрыть
      </button>
    </div>
  </div>
</div>
