.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

yasna-tariff-card {
  width: 340px;
  margin: 0 15px 15px;
}

.cards {
  background: #f1eade;
  margin-bottom: 3px;
  padding: 50px 0;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
