<div class="footer">
  <div class="container">
    <div class="footer-policy__container">
      <div class="policy">
        <div class="policy-heading">
          <a href="http://beltelecom.by/" class="link">
            РУП «Белтелеком»
          </a>
        </div>
        <div class="address">
          ул. Энгельса, 6, 220030, г. Минск, Республика Беларусь
        </div>
        <div class="unp">
          УНП: 101007741
        </div>
      </div>
      <div class="rules">
        <div class="rules-heading">
          <a href="https://www.beltelecom.by/private/packages/poryadok-okazaniya-uslug" class="link">
            Порядок оказания услуг в составе пакетов.
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
