.footer {
  background: #8a4e11;
  font-size: 12px;
  color: #ccc;
  padding: 20px 0;
}

.footer-policy__container {
  display: flex;
  justify-content: space-between;
}

.link {
  color: #ccc;
  text-decoration: underline;
}
