<yasna-menu>
</yasna-menu>

<yasna-arrow-up>

</yasna-arrow-up>

<yasna-header>
</yasna-header>

<yasna-slider>
</yasna-slider>

<yasna-advantages>
</yasna-advantages>

<yasna-card-container>
</yasna-card-container>

<yasna-additional>
</yasna-additional>

<yasna-application>
</yasna-application>

<yasna-footer>
</yasna-footer>
