.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  width: 20%;
}

.header-item img{
  height: auto;
  max-width: 100%;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  width: 20%;
}

.social-link img {
  width: 30px;
  height: auto;
}
