.card {
  padding: 10px;
  color: #fff;
}

.card-title {
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px dashed #fff;
}

.card-name {
  color: #fff;
  font-size: 22px;
}

.card-plan {
  color: #f47a25;
  font-size: 45px;
  border-radius: 20px;
  padding: 5px;
  margin: 0 5px;
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .card-plan {
    font-size: 32px;
  }
}

.card-price {
  text-align: center;
  border-bottom: 1px dashed #fff;
  padding: 15px 0;

  span {
    font-size: 40px;
  }
}

.card-description {
  border-bottom: 1px dashed #fff;
  padding: 15px 0;
}

.tv-station {
  border-bottom: 1px dashed #fff;
  padding: 15px 0;
}


.channel-item {
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 3px;

  &:last-child {
    margin-bottom: 0;
  }
}
