.additional-opportunities {
  background: #ffeed3;
  padding: 50px;
}

.opportunities-content {
  display: flex;
  justify-content: space-between;
}

.description {
  margin-top: 30px;
  margin-right: 40px;
}

@media only screen and (max-width: 1270px) {
  .video {
    display: none;
  }
}
