<div class="additional-opportunities">
  <div class="container">
    <div class="opportunities-content">
      <div class="description">
        <h3>Дополнительные возможности</h3>
        <p>К услугам, включенным в пакеты «ЯСНА», Абонент может оформить <strong>дополнительные услуги</strong> и
          сервисы,
          такие как:
        </p>
        <ul>
          <li>дополнительные виды услуг телефонной связи (музыкальный марафон и т.д.);</li>
          <li>дополнительные услуги интерактивного телевидения (подключение дополнительных приставок, тематических пакетов,
            услуг видео по запросу, видео по подписке, виртуальный кинозал и пр.);</li>
          <li>дополнительные услуги сети Интернет (антивирусная защита, родительский контроль);</li>
          <li>SMS-оповещение о приближении к порогу отключения.</li>
        </ul>
      </div>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aexygR8yQRA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JGjILrmXTqA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
