<div class="container">
  <div class="advantages-heading">
    Пакеты услуг линейки «ЯСНА» включают три основные услуги, необходимые современному человеку для комфорта и
    полноценного общения: Интернет, телефонную связь и телевидение.
  </div>

  <div class="advantages">
    Преимущество пакетов услуг «ЯСНА»:
  </div>

  <mat-tab-group>
    <mat-tab label="Технология GPON">
      <div class="content">
        Гарантирует высокую скорость доступа в Интернет и высокое качество телевидения
      </div>
    </mat-tab>
    <mat-tab label="Выгодная цена">
      <div class="content">
        Стоимость подключения трех услуг в составе пакета значительно дешевле, чем по отдельности. Оплата всех услуг,
        включенных в пакет, производится на общий лицевой счет
      </div>
    </mat-tab>
    <mat-tab label="Авансовая форма оплаты">
      <div class="content">
        Пополнение лицевого счета Пакета услуг абонент производит в любом объеме, достаточном для поддержания его
        положительного баланса
      </div>
    </mat-tab>
    <mat-tab label="Простота подключения">
      <div class="content">
        Для пользования услугами Белтелеком предоставляет в пользование без взимания платы необходимое оборудование
        (модем, ТВ-приставку)
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
