.container {
  padding: 50px 0;
}

.advantages-heading {
  font-size: 24px;
  letter-spacing: 1.5px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #000;
}

.advantages {
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  margin-top: 10px;
  width: 60%;
  margin-left: 20px;
}
